
@{
    ViewData["Title"] = "About";
}

<div class="row text-center">
    <div class="col">
        <h2 class="text-primary">About Us</h2>
    </div>
</div>
<div class="row">
    <hr />
    <div class="col-md-9">
        <p>
            We're passionate about promoting the great work being done by people in the Byron Bay region. We support Australian businesses that have an organic and natural approach, hand make their products and/or have an ethical business model and are inspired by the growing number of people across Australia wanting to buy unique gifts that have had love, care and time invested in them.
        </p>
        <p>
            Enjoy our collection of ethical, organic and gourmet products because they look stylish, taste amazing and it feels great to be supporting local. Our customers appreciate the finer things in life and love to give gifts that are luxurious, the kind of gift that creates good memories and is also ethically sourced.
        </p>
        <p>
            To increase our audience and share our message you can also find our gift hampers on Dan Murphy's and Byron Bay's best local information website, Byron Bay.com. We've also just been accepted as part of the PayPal 'Shop Off The Beaten Path' program.
        </p>
    </div>
    <div class="col-md-3 text-center">
        <img src="~/Images/Image-not-available_1.jpg" width="200" />
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h3 class="text-primary">Our Hampers</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center d-none d-md-block d-lg-none d-md-none d-lg-block">
        <img src="~/Images/Image-not-available_1.jpg" width="200" />
    </div>
    <div class="col-md-9">
        <p style="direction: rtl;">
            If we wouldn’t like to receive it, we don’t use it. No cheap imports here. No offense to cheap imports but it’s just not what we’re going for.
        </p>
        <p style="direction: rtl;">
            We think if you’re giving a gift, you’re trying to impress someone, not offend with low quality stuff, so all our gifts are carefully considered. If you’re giving a pamper hamper, it will have organic and natural products. Our gourmet foods are often hand crafted by local artisans – often with locally sourced ingredients.
        </p>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h3 class="text-primary">What makes us unique?</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li>
                <p><b>100% Australian family owned business.</b></p>
                <p>
                    Since opening our colourful doors in 2005, our national company owned store network make every item you see here online.  Our team is award winning and focused on quality and consistency.  What you see online is hand made locally and exactly what will be delivered for you.
                </p>
            </li>
            <li>
                <p>
                    <b>We are fresh.  We are fast.</b>
                </p>
                <p>
                    With a large footprint in every major capital city of Australia, we can be anywhere you can't be.  Fast.  Our gifts are made fresh daily and we guarantee the quality of our service and products.
                </p>
            </li>
        </ul>
    </div>
</div>

@*<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta lacus vitae ornare vestibulum. Vivamus eleifend cursus ante. Duis lacinia magna in enim vestibulum, vulputate aliquam nunc suscipit. Curabitur laoreet, ipsum at blandit laoreet, lacus ex laoreet mauris, et gravida arcu diam at metus. Praesent semper ipsum a ante fermentum, eu vulputate lacus tempus. Maecenas consectetur lectus vel urna blandit, sed dignissim augue imperdiet. Morbi laoreet maximus nisi, ac efficitur erat dapibus quis. Maecenas non tempor dui. Ut in leo fringilla, euismod ipsum sit amet, volutpat nulla. Sed id odio mi. Fusce eget ipsum et magna pulvinar commodo.
    </p>
    <p>
        Vestibulum malesuada rhoncus lectus, lobortis hendrerit lorem scelerisque non. Suspendisse viverra sapien tellus, nec iaculis neque suscipit id. Sed faucibus condimentum risus. Aliquam neque magna, sollicitudin a semper sed, tempor in ante. Curabitur ac nisi at ligula varius auctor. Donec iaculis leo at ex rhoncus auctor. Fusce a quam a libero bibendum semper. Fusce et diam eros. Fusce ligula dui, sodales ut lectus non, suscipit imperdiet enim. Etiam facilisis interdum luctus.
    </p>
    <p>
        Phasellus lacinia malesuada ex, non malesuada mauris sagittis nec. Vestibulum quis aliquet augue, nec ullamcorper erat. Phasellus vitae lobortis ligula. Aliquam eleifend lectus leo, sit amet efficitur odio scelerisque et. Nunc eget sagittis arcu. Sed scelerisque, velit id dictum tincidunt, arcu nunc tincidunt urna, non interdum tellus metus sed orci. Fusce scelerisque lorem a felis tincidunt maximus. Suspendisse pellentesque ipsum id volutpat laoreet. Vestibulum non purus eget lorem volutpat posuere. Sed viverra auctor felis, et faucibus ipsum convallis ut. Aenean euismod et ante eu iaculis. Phasellus a gravida dolor. In hac habitasse platea dictumst. Maecenas sed libero blandit, cursus leo sed, rhoncus ex.
    </p>*@