
@{
    ViewData["Title"] = "Admin";
}

<h2 class="text-center">Admin Interface</h2>

<div class="text-center">
    <div class="m-2">
        <a class="btn btn-primary w-50" role="button" href="@Url.Action("Create", "Category")">Create a Category</a>
    </div>
    <div class="m-2">
        <a class="btn btn-primary w-50" role="button" href="@Url.Action("Details", "Category")">Update a Category</a>
    </div>
    <div class="m-2">
        <a class="btn btn-primary w-50" role="button" href="@Url.Action("Create", "Hamper")">Create a Hamper</a>
    </div>
    <div class="m-2">
        <a class="btn btn-primary w-50" role="button" href="@Url.Action("Details", "Hamper")">Update a Hamper</a>
    </div>
</div>