
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Us</h2>

<div class="row">
    <div class="col">
        <h4 class="text-primary">Enquiries</h4>
        <p><b>Email:</b> asdf.asdf@asdf.com</p>
        <p><b>Phone:</b> +61 1234 1234</p>
        <hr />
        <!--MAP-->
            <h4 class="text-primary">Centre Location</h4>
            <div id="map" style="height: 250px;"></div>
        <!--MAP-->
        <hr />
        <h4 class="text-primary">Feedback</h4>
        <div class="mx-auto" style="width: 500px">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label>First Name</label>
                        <input value="First Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input value="First Name" class="form-control" />
                    </div>
                </div>
                <label>Feedback</label>
                <textarea class="form-control" cols="50" maxlength="200" rows="7" placeholder="Comment">Comment</textarea>
                <br />
                <input type="submit" value="Submit" class="btn btn-light border-info text-primary" style="width: 100px" />
            </form>
        </div>
        <hr />
        <h4 class="text-primary">Connect With Us</h4>
        <div>
            <a href="#" class="fa fa-facebook faSocial" style="text-decoration: none"></a>
            <a href="#" class="fa fa-twitter faSocial" style="text-decoration: none"></a>
            <a href="#" class="fa fa-youtube faSocial" style="text-decoration: none"></a>
            <a href="#" class="fa fa-instagram faSocial" style="text-decoration: none"></a>
        </div>
    </div>
</div>

@*<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta lacus vitae ornare vestibulum. Vivamus eleifend cursus ante. Duis lacinia magna in enim vestibulum, vulputate aliquam nunc suscipit. Curabitur laoreet, ipsum at blandit laoreet, lacus ex laoreet mauris, et gravida arcu diam at metus. Praesent semper ipsum a ante fermentum, eu vulputate lacus tempus. Maecenas consectetur lectus vel urna blandit, sed dignissim augue imperdiet. Morbi laoreet maximus nisi, ac efficitur erat dapibus quis. Maecenas non tempor dui. Ut in leo fringilla, euismod ipsum sit amet, volutpat nulla. Sed id odio mi. Fusce eget ipsum et magna pulvinar commodo.
    </p>
    <p>
        Vestibulum malesuada rhoncus lectus, lobortis hendrerit lorem scelerisque non. Suspendisse viverra sapien tellus, nec iaculis neque suscipit id. Sed faucibus condimentum risus. Aliquam neque magna, sollicitudin a semper sed, tempor in ante. Curabitur ac nisi at ligula varius auctor. Donec iaculis leo at ex rhoncus auctor. Fusce a quam a libero bibendum semper. Fusce et diam eros. Fusce ligula dui, sodales ut lectus non, suscipit imperdiet enim. Etiam facilisis interdum luctus.
    </p>
    <p>
        Phasellus lacinia malesuada ex, non malesuada mauris sagittis nec. Vestibulum quis aliquet augue, nec ullamcorper erat. Phasellus vitae lobortis ligula. Aliquam eleifend lectus leo, sit amet efficitur odio scelerisque et. Nunc eget sagittis arcu. Sed scelerisque, velit id dictum tincidunt, arcu nunc tincidunt urna, non interdum tellus metus sed orci. Fusce scelerisque lorem a felis tincidunt maximus. Suspendisse pellentesque ipsum id volutpat laoreet. Vestibulum non purus eget lorem volutpat posuere. Sed viverra auctor felis, et faucibus ipsum convallis ut. Aenean euismod et ante eu iaculis. Phasellus a gravida dolor. In hac habitasse platea dictumst. Maecenas sed libero blandit, cursus leo sed, rhoncus ex.
    </p>*@