
@{
    ViewData["Title"] = "Homepage";
}

<h2>Home</h2>

<div class="row justify-content-center">
    @{
        for (int i = 0; i < 3; i++)
        {
            <div class="col-md-3 m-2 text-center border border-dark" style="height: 400px; width:300px">
                <h3>Hamper @i</h3>
                <img src="#" alt="@i" />
                <h5>$10000</h5>
                <ul>
                    @for (int n = 0; n < 5; n++)
                    {
                        <li>@n</li>
                    }
                </ul>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        }
    }
</div>