
@{
    ViewData["Title"] = "Error";
}

<div class="row text-center">
    <h1 class="text-primary">ERROR - Page not found</h1>
    <a class="btn btn-light border-info text-primary" style="width:250px;" role="button" href="@Url.Action("Index", "Home")">Return to Homepage</a>
</div>

