@model AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="mx-auto" style="width: 500px">
    <h2>Login</h2>

    <form asp-controller="Account" asp-action="Login" method="post">

        <div asp-validation-summary="ModelOnly"></div>
        <!--EMAIL OR USERNAME - Not finished-->
        @*<div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>*@
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="Username" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <label asp-for="Password"></label>
        <div class="input-group">
            <input asp-for="Password" placeholder="Password" type="password" name="password" id="password" class="form-control" data-toggle="password">
            <div class="input-group-append">
                <span class="input-group-text pr-3 pb-2">
                    <i id="passwordEye" class="fa fa-eye"></i>
                </span>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        @*<div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>*@
        <div class="mt-2">
            <label asp-for="RememberMe">Remember me</label>
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input class="btn w-100" type="submit" value="Login" />
        </div>
    </form>
</div>
