@model HamperCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Hamper</h2>

<form asp-controller="Hamper" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Hamper Name</label>
        <input asp-for="Name" class="form-control" placeholder="Hamper Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Price"></label>
        <textarea asp-for="Price" class="form-control" placeholder="Price" rows="3" cols="100"></textarea>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <label>Image:</label>
        <input type="file" name="upload" />
    </div>
    <div>
        <label asp-for="Discontinued">Discontinued:</label>
        <input asp-for="Discontinued" class="form-control" placeholder="Discontinued" />
        <span asp-validation-for="Discontinued" class="text-danger"></span>
    </div>
    <div>
        <label>Category:</label>
        <select asp-for="CategoryId">
            <option value="" disabled selected>Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Create Hamper" class="btn" />
    </div>
</form>

<a class="btn btn-primary w-100" role="button" href="@Url.Action("Admin", "Home")">Admin Home</a>